*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Tomorrow', sans-serif;
    font-size: 14px;
    
}
header.sticky .header-title{
    font-size: 22px;
}
header.sticky .header-navs a{
    font-size: 16px;
    padding: 15px;
}
header.sticky{
    position: fixed;
    top: 2%;
    left: 50%;
    z-index: 10;
    gap: 50px;
    transform: translateX(-50%);
    background-color: transparent;
    backdrop-filter: blur(20px);
    background-image: linear-gradient(
        120deg,
        rgba(10, 10, 10, 0.3),
        rgba(0, 0, 0, 0.7)
        
    );
    border-radius: 20px;
    padding-right: 10px;
    padding-left: 50px;
    backdrop-filter: blur(20px);  
    width: 75%;
    transition: padding 0.9s, background-color 0.9s, transform 0.9s;
}
header{
    position: absolute;
    top: 5%;
    left: 50%;
    z-index: 10;
    transform: translateY(-3%) translateX(-50%);
    width: 85%;
    padding-right: 10px;
    padding-left: 50px;
    display: flex;
    align-items: center;
    gap: 150px;
    justify-content: space-between;
    transition: .8s;
    background-color: transparent;
    backdrop-filter: blur(20px);
    background-image: linear-gradient(
        120deg,
        rgba(10, 10, 10, 0.3),
        rgba(0, 0, 0, 0.2)
    );
    border-radius: 20px;
    
}

.header-title{
    color: white;
    font-weight: 500;
    font-size: 24px;
    text-decoration: none;
    font-family: "";
}
.header-navs{
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 100;
}
.header-navs a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 20px;
}
.header-navs a:hover{
    color: #fff;
    background-color: rgba(119, 107, 107, 0.5)
}
/*Hamburger Menu Styles*/

.hamburger-menu{
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}
@media (max-width: 768px) {
    .header-navs {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 60px; 
        right: 0;
        padding: 10px;
        width: 100%;
    }

    .header-navs.active {
        display: flex;
    }

    .hamburger-menu {
        display: block;
    }
}
.landing-page{
    background: linear-gradient(-45deg, #202022,#242f49, #384358, #b69a91, #4b4852);
    height: 90vh;
    background-size: 400% 400%;
    width: 100%;
    z-index: 1;
    animation: animate 8s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
}

.landing-page-container{
    width: 600px;
    height: 350px;
    margin-top: 150px;
    margin-right: 50px;
    padding: 24px;
    background-color: transparent;
    backdrop-filter: blur(px);
    background-image: linear-gradient(
        120deg,
        rgba(10, 10, 10, 0.3),
        rgba(0, 0, 0, 0.2)
    );
    border-radius: 20px;
    border: 2px solid black;

}
.landing-page-container-title{
    font-size: 45px;
    font-family: "Oswald";
    margin-bottom: 10px;
    color: #ffffffd0;
}
.landing-page-container-desc{
    font-family: "Oswald";
    color: #ffffffd0;
    margin-left: 10px;
    font-size: 22px;
}
.cta-btn-container{
    margin-right: auto;
    margin-top: 25px;
}

.cta-btn {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    text-align: center;
    background-color: transparent;
    backdrop-filter: blur(20px);
    background-image: linear-gradient(
        120deg,
        #ffa586,
        #815343
    );
    border-radius: 20px;
    color: #ffffffd0;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-weight: 500;
}
.cta-btn:hover{
    color:#ffffff70;
}
.landing-page-img{
    max-width: 400px;
    animation: animateImg 5s linear infinite;
}
@keyframes animateImg{
    0%, 100%{
        transform: translateY(50px);
    }
    50%{
        transform: translateY(100px);
    }
}
@keyframes animate{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}
/*Divider Styles*/
.logos{
    overflow: hidden;
    white-space: nowrap;
    padding: 10px 0;
    background-color: #0f0f0fcb;

}
.logos-slide img{
    height: 80px;
    margin: 14px 20px;
}
.logos-slide{
    display: inline-block;
    animation: 5s slide infinite linear;
}
.logos:hover .logos-slide{
    animation-play-state: paused;
}
.logos::before,
.logos::after{
    position: absolute;
    top: 190%;
    width: 250px;
    height: 130px;
    content: "";
    z-index: 2;
}
.logos::before{
    left: 0;
    background: linear-gradient(to left, rgba(78, 60, 60, 0), rgba(255, 255, 255, 0.219))
}
.logos::after{
    right: 0;
    background: linear-gradient(to right, rgba(78, 60, 60, 0), rgba(255, 255, 255, 0.219))
}
@keyframes slide{
    from{
        transform: translateX(0);
    }
    to{
        transform:  translateX(-100%);
    }
}
.welcome-section{
    background: #1e1e1e;
    height: 100vh;
    background-size: 400% 400%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    padding: 50px 5%;
}
/*Timeline Styles*/
.read-more-btn{
    display: flex;
    justify-content: space-between;
    width: 140px;
    border: 1px solid #000;
    padding: 5px 10px 5px 10px ;
    margin-top: 10px;
    background-color: white;
    border-radius: 25px;
    text-decoration: none;
    color: #000
}
.read-more-btn:hover{
    background-color: rgba(255, 255, 255, 0.5);
    color: #4b4852;
}
.read-more-img{
    max-width: 25px;
}
.read-more-text{
    font-size: 14px;
    font-weight: bolder;
    align-self: center;
}

.timeline{
    display : flex;
    flex-direction: column;
    margin: 100px auto;
    flex-wrap: wrap;
    max-width: 700px;
    position: relative;
    padding-top: 60px;
    
}
.timeline-content-date{
    font-weight: normal;
    font-size: 66px;
    font-family: "Oswald", sans-serif;
    margin: -10px 0 0 0;
    transition: .4s;
    padding: 0 5px;
    color: #fff;
}
.timeline-content-title{
    font-family: "Roboto Mono", monospace;
    font-weight: 600;
    font-size: 28px;
    margin: -35px 0 15px 0;
    color: rgba(32, 31, 31, 0.918); 
}
.timeline-content-desc{
    margin: 0;
    font-size: 18px;
    color: rgba(32, 31, 31, 0.918);
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
    line-height: 25px;
}
.timeline::before{
    position:absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    margin-left: -1px;
    content: "";
    background: rgba(255, 255, 255, 0.4);
}

@media only screen and (max-width : 767px){
    .timeline::before{
        left: 40px;
    }
}
.timeline-item{
    padding: 40px 0;
    opacity: 0.3;
    filter: blur(2px);
    transition: 1s;
    width: calc(50% - 40px);
    display: flex;
    position: relative;
    transform: translateY(-80px);
}

.timeline-item::before{
    content: attr(data-text);
    letter-spacing: 3px;
    width: 100%;
    position: absolute;
    color: rgba(225, 225, 225, 0.5);
    font-size: 13px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    top: 70%;
    margin-top: -5px;
    padding-left: 15px;
    opacity: 0;
    right: calc(-100% - 56px);
}
.timeline-item:nth-child(even){
    align-self: flex-end;
}
.timeline-item:nth-child(even)::before{
    right: auto;
    text-align: right;
    left: calc(-100% - 56px);
    padding-left: 0;
    border-left: none;
    border-right: 2px solid rgba(255, 255, 255, 0.5);
    padding-right: 15px;
}
.timeline-item--active{
    opacity: 1;
    transform: translateY(0);
    filter: blur(0px);
}
.timeline-item--active::before{
    top: 50%;
    transition:  0.3s all .2s;
    opacity: 1;
}

.timeline-item--active .timeline-content-date{
    margin: -45px 0 20px 0;
}
@media only screen and (max-width: 767px){
    .timeline-item{
        align-self: baseline !important;
        width: 100%;
        padding: 0 30px 150px 80px;
    }
    .timeline-item{
        left: 10px !important;
        padding: 0 !important;
        top: 50px;
        text-align: center !important;
        width: 60px;
        border: none !important;
    }
    .timeline-item:last-child{
        padding-bottom: 40px;
    }
    .timeline-content-date {
        font-size: 48px;
    }
    .timeline-content-title {
        font-size: 14px;
    }
    .timeline-img {
        width: 80%;
        margin: 0 auto;
    }
}
.timeline-img{
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.8);

}
.timeline-container{
    width: 100%;
    position: relative;
    padding: 80px 0;
    transition: 0.3s ease 0s;
    background-attachment: fixed;
    background-size: cover;
 
}
.timeline-container::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(99, 99, 99, 0.4);
    background-image: var(--background-image); /*url("#") if one background*/
    background-size: contain;
    background-position: center;
    opacity: 0.3;
    z-index: -1;
    transition:  background-image 0.3s ease;
}
.timeline-header{
    width: 100%;
    text-align: center;
    margin-bottom: 80px;
    position: relative;
}
.timeline-header-title{
    color: rgba(32, 31, 31, 0.918);
    font-size: 36px;
    letter-spacing: 5px;
    margin: 45px 0 0 0;
    font-weight: normal;
}

/*Footer Styles*/
.footer-container{
    padding: 20px;
    color: #fff;
    background-color: #1e1e1e;
    max-height: 45vh;
}
.footer-container-img{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.footer-img{
    max-width: 150px;
    max-height: 100px;
}
.left{
    margin-left: 200px;
}
.right{
    margin-right: 200px;
}
.footer-wvsu-content{
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
}
.wvsu-title{
    font-weight: bold;
    font-size: 25px;
}
.cict-title{
    font-size: 26px;
    font-weight: 200;
    
}
.wvsu-address{
    font-size: 15px;
    font-weight: 200;
}
.footer-content-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
.footer-btn a{
    text-decoration: none;
    background-color: #fff;
    color: #000;
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom: 5px;
    display: inline-block;
}
.footer-content-container p{
    margin-bottom: 3px;
}
.footer-divider{
    width: 50%; 
    border: 0;
    border-top: 2px solid white;
    margin: 20px auto;
    opacity: 0.8;
}
